# cst constraint descriptor phytase protein

# NOTE

#/Users/siegel03/rosetta/main/database/chemical/residue_type_sets/fa_standard/residue_types/l-caa for atoms order in residues

#Cysteine 421 Bonding to Fe in Heme

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: FE1 N1 C19
  TEMPLATE::   ATOM_MAP: 1 residue3: LG1

  TEMPLATE::   ATOM_MAP: 2 atom_name: SG CB CA
  TEMPLATE::   ATOM_MAP: 2 residue1: C

  CONSTRAINT:: distanceAB:   2.5    0.0   500  1     
  CONSTRAINT::    angle_A:   94.9  10.0  100  360.
  CONSTRAINT::    angle_B:   107.2  10.0  100  360. 
# CONSTRAINT::  torsion_A:    68.0  10.0  100  360. 
# CONSTRAINT:: torsion_AB:  -128.5  10.0  100  360. 
# CONSTRAINT::  torsion_B:  -177.1  10.0  100  360. 

CST::END  

#Arginine 419 hydrogen bonding to caboxy group of chain

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: O4 C10 C8
  TEMPLATE::   ATOM_MAP: 1 residue3: LG1

  TEMPLATE::   ATOM_MAP: 2 atom_name: NE CD CG
  TEMPLATE::   ATOM_MAP: 2 residue1: R

  CONSTRAINT:: distanceAB:   4.5   0.0   500  1
#  CONSTRAINT::    angle_A:   120.0  20.0  100  360.
  CONSTRAINT::    angle_B:   97.9  15.0  100  360.
# CONSTRAINT::  torsion_A:    68.0  10.0  100  360.
# CONSTRAINT:: torsion_AB:  -128.5  10.0  100  360.
# CONSTRAINT::  torsion_B:  -177.1  10.0  100  360.

CST::END

#Alanine 416 amide backbone hydrogen bonding to carboxy group of second chain

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: O1 C9 C5
  TEMPLATE::   ATOM_MAP: 1 residue3: LG1

  TEMPLATE::   ATOM_MAP: 2 atom_name: O C CA
  TEMPLATE::   ATOM_MAP: 2 residue1: A

  CONSTRAINT:: distanceAB:     3.9  0.0   500  1
#  CONSTRAINT::    angle_A:   120.0  20.0  100  360.
  CONSTRAINT::    angle_B:   169.6  15.0  100  360.
# CONSTRAINT::  torsion_A:    68.0  10.0  100  360.
# CONSTRAINT:: torsion_AB:  -128.5  10.0  100  360.
# CONSTRAINT::  torsion_B:  -177.1  10.0  100  360.

CST::END

#Glycine 427 Distance CA to Fe

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: FE1 N1 C19
  TEMPLATE::   ATOM_MAP: 1 residue3: LG1

  TEMPLATE::   ATOM_MAP: 2 atom_name: CA C O
  TEMPLATE::   ATOM_MAP: 2 residue1: G

  CONSTRAINT:: distanceAB:     8.3  0.0   500  1
  #  CONSTRAINT::    angle_A:   120.0  20.0  100  360.
  #  CONSTRAINT::    angle_B:   169.3  15.0  100  360.
    # CONSTRAINT::  torsion_A:    68.0  10.0  100  360.
    # CONSTRAINT:: torsion_AB:  -128.5  10.0  100  360.
    # CONSTRAINT::  torsion_B:  -177.1  10.0  100  360.

CST::END

#Substrate Reactive C to Fe

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: FE1 N1 C19
  TEMPLATE::   ATOM_MAP: 1 residue3: LG1

  TEMPLATE::   ATOM_MAP: 2 atom_name: C19 C17 C16
  TEMPLATE::   ATOM_MAP: 2 residue3: LG2

  CONSTRAINT:: distanceAB:     4.0  2.0   500  1

CST::END
